@model List<WebApp.Models.Part.PartRequestViewModel>
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Danh sách yêu cầu linh kiện";
    var roleString = HttpContextAccessor.HttpContext.Session.GetString("Role") ?? "";

    var roles = roleString.Split(',', StringSplitOptions.RemoveEmptyEntries)
                          .Select(r => r.Trim().ToUpperInvariant())
                          .ToList();
    bool HasRole(params string[] checkRoles) => roles.Intersect(checkRoles.Select(r => r.ToUpperInvariant())).Any();
}

<h2>@ViewData["Title"]</h2>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Request Id</th>
            <th>EMPLOYEE USERNAME</th>
            <th>In Date</th>
            <th>ORDER_ID</th>
            <th>STATUS</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.REQUEST_ID</td>
                <td>@item.EmpUsername</td>
                <td>@item.REQUEST_DATE.ToString("yyyy-MM-dd HH:mm")</td>
                <td>
                    <a asp-area="Admin"
                       asp-controller="Order"
                       asp-action="Details"
                       asp-route-id="@item.ORDER_ID"
                       class="text-decoration-none fw-bold text-primary">
                        @item.ORDER_ID
                    </a>
                </td>
                <td>@item.STATUS</td>
                <td>
                    <a class="btn btn-sm btn-info"
                       asp-area="Admin"
                       asp-controller="Partrequest"
                       asp-action="Details"
                       asp-route-id="@item.REQUEST_ID">Xem chi tiết</a>
                    @if (HasRole("ROLE_ADMIN","ROLE_THUKHO"))
                        {
                            @if (item.STATUS == "Đang chờ")
                            {
                                <a class="btn btn-sm btn-info"
                                asp-area="Admin"
                                asp-controller="Partrequest"
                                asp-action="Accept"
                                asp-route-id="@item.REQUEST_ID">Duyệt yêu cầu</a>
                                <a class="btn btn-sm btn-info"
                                asp-area="Admin"
                                asp-controller="Partrequest"
                                asp-action="Deny"
                                asp-route-id="@item.REQUEST_ID">Từ chối</a>
                            }
                        }
                </td>

            </tr>
        }
    </tbody>
</table>
