@model List<WebApp.Models.Part.ExportViewModel>

@{
    ViewData["Title"] = "Danh sách Export";
}

<h2>@ViewData["Title"]</h2>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>StockOut ID</th>
            <th>Employee Username</th>
            <th>Out Date</th>
            <th>Note</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.StockOutId</td>
                <td>@item.EmpUsername</td>
                <td>@item.OutDate.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@item.Note</td>
                <td>
                    <a class="btn btn-sm btn-info"
                       asp-area="Admin"
                       asp-controller="Export"
                       asp-action="Details"
                       asp-route-id="@item.StockOutId">Xem chi tiết</a>
                    <a class="btn btn-sm btn-info"
                       asp-area="Admin"
                       asp-controller="Export"
                       asp-action="Verifysign"
                       asp-route-id="@item.StockOutId">Xác thực chữ kí số</a>
                    <a class="btn btn-sm btn-secondary"
                       asp-area="Admin"
                       asp-controller="Export"
                       asp-action="Invoice"
                       asp-route-id="@item.StockOutId">Tạo hóa đơn xuất (PDF)</a>
                </td>
            </tr>
        }
    </tbody>
</table>
